.
is
,
i
you
are
a
very
beautiful
woman
she
really
angry
yes
am
crazy
no
it
Taro
'
s
towel
teachers
should
lead
students
correctly
No
was
dropped
on
March
